@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Kalam:wght@300;400;700&family=Noto+Serif+Georgian:wght@100;200;300;400;500;600;700;800;900&family=Peralta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
html {
    width: 100vw;
    height: 100vh;
    color: white;
}

body{
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgb(33, 31, 31) ), url(img/fundo.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

.cabecalho {
    align-items: center;
    display: flex;
    padding: 30px;
}

#logo {
    flex: 20%;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: white;
    margin-right: 850px;
    font-weight: 400;
    font-size: 50px;
    text-decoration: none;
}

#logo:hover{
    scale: 1.2;
    transition: 0.2s;
}

#iconsInsta, #iconsFace{
    display: inline-flex;
    justify-content: flex-end;
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    color: white;
}

#iconsInsta:hover{
    scale: 1.5;
    transition: 0.1s;
}

#iconsFace:hover{
    scale: 1.5;
    transition: 0.1s;
}

.conteudo {
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    margin-top: 30vh;
}

.conteudo, a{
    color: white;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}

.conteudo, a:hover{
    color: rgb(227, 224, 224);
    
}

.a:hover{
    scale: 1.5;
    cursor: pointer;
    border-bottom: 3px solid white;
    transition: 0.3s;
}

@media (max-width: 768px) {
    #logo {
        font-size: 24px;
        margin-right: 0;
    }

    #iconsInsta,
    #iconsFace {
        font-size: 20px;
    }

    .conteudo {
        font-size: 30px;
        margin-top: 50px;
    }
}